@model ApiCat.Models.CatModel;

@{
    ViewData["Title"] = "GifCat";
}

<h1>GifCat</h1>

@*<img src=@Model.url>*@

@if (Model.CatUrl != null)
{

    @*<img src="@Model.CatUrl" width="80" height="80" />*@
    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.CatUrl))" />
}
else
{
    <div>Error recovering image error</div>
}

@using (Html.BeginForm("Index", "Cat"))
{

    <input class="btn btn-default" type="submit" value="Retrun to menu" />

}  