
<div style="color:red">My Cat  </div>

@using (Html.BeginForm("CallCat", "Cat"))
{

    <input class="btnStyle btn btn-default" style="border-color:black" type="submit" value="Flip Cat" />

}

@using (Html.BeginForm("UserInfo", "ApplicationUser"))
{

    <input class="btnStyle btn btn-default"style="border-color:black" type="submit" value="User Info" />

}

@using (Html.BeginForm("CatGif", "Cat"))
{

    <input class="btnStyle btn btn-default" style="border-color:black" type="submit" value="Gif Cat" />

}

